html {
	box-sizing: border-box;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
}
*, *::before, *::after {
	box-sizing: inherit;
}

ul {
	list-style-type: none;
}

.topbar {
	width: 100%;
	box-shadow: 0px 1px rgba(31,31,31,0.3);
	padding-bottom: 10px;
}
/*--------------*/
/*-left top bar-*/
/*--------------*/
.topbarLeft {
	display: flex;
	flex-direction: row;
	margin-top: 15px;
}

#etsyLogo img{
	width: 110px;
}

#sEntry {
	border: solid 2px #000;
	border-radius: 3px;
	margin-top: 15px;
	margin-left: 15px;
}

#searchText #search {
	height: 30px;
	width: 200px;
	line-height: 30px;
	border: none;
}

#searchText #search:focus {
	border-color: #000;
	outline-style: none;
	box-shadow: none;
}

#searchButton {
	height: 30px;
	width: 100px;
	line-height: 25px;
	background-color: rgb(31,31,31);
	color: rgb(243,243,243);
	border: none;
}

#searchButton:focus {
	border-color: rgb(204,204,204);
	outline-style: none;
	box-shadow: none;
}

/*---------------*/
/*-right top bar-*/
/*---------------*/

.topbarRight {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-top: -62px;
	height: 30px;
	line-height: 30px;
}

.topbarRight a {
	text-decoration: none;
	color: rgb(49,49,49);
}

.topbarRight a:visited {
	color: rgb(49,49,49);
}

#sellOnEtsy a:hover, #register a:hover {
	text-decoration: underline;
}

#sellOnEtsy, #register, #signIn {
	margin-right: 12px;
}

#signIn a {
	border: 1px solid rgb(31,31,31);
	padding: 6px;
	border-radius: 3px;
}

#signIn a:hover {
	background-color: rgb(31,31,31);
	color: white;
}

#cart {
	opacity: 0.6;
	box-shadow: -2px 0px rgba(31,31,31,0.3);
	padding-left: 9px;
}

#cart:hover {
	opacity: 1;
}
/*---------------*/
/*----nav-bar----*/
/*---------------*/
.sections {
	width: 100%;
	box-shadow: 0px 1px rgba(31,31,31,0.3);
}

.sections ul {
	display: flex;
	flex-direction: row;
	margin-top: 0px;
	justify-content: space-around;
}

.sections ul a {
	text-decoration: none;
	color: rgb(49,49,49);
}

.sections ul a:hover {
	border-bottom: 2px solid rgb(244,89,4);
	padding-bottom: 5px;
}

.sections ul a:visited {
	color: rgb(49,49,49);
}

.sections li {
	height: 30px;
	line-height: 30px;
}
/*----------------*/
/*suggested-search*/
/*----------------*/
.suggested {
	width: 100%;
}

.suggestRow {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 0px;
}

.topsuggest {
	background: rgb(255,169,102);
	border: 1px solid rgb(217,144,87);
	border-radius: 3px;
	padding: 9px;
}

.topsuggest:hover {
	background: rgba(255,169,102,0.8);
}

.lowsuggest {
	background: rgb(254,204,136);
	border: 1px solid rgb(216,174,116);
	border-radius: 3px;
	padding: 9px;
}

.lowsuggest:hover {
	background: rgba(254,204,136,0.8);
}

.suggestRow a {
	text-decoration: none;
	color: rgb(49,49,49);
}
/*----------------*/
/*-below-top------*/
/*----------------*/
.belowTop {
	display: flex;
}
/*----------------*/
/*-sidebar-general*/
/*----------------*/
.sidebar {
	width: 270px;
	height: auto;
	border: 1px solid rgba(31,31,31,0.3);
	display: flex;
	flex-direction: column;
	margin-right: 10px;
}

.sectLabel {
	font-weight: bold;
}
/*----------------*/
/*-special-offers-*/
/*----------------*/
.specialOffers {
	background: rgb(250,231,210);
	width: 250px;
	height: 66px;
	border-radius: 3px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 8px;
}

#specOffLabel {
	margin-top: -10px;
	margin-left: -18px;
	font-weight: bolder;
}

/*--making my own checkbox--*/
.checkLabel {
	margin-top: -10px;
	margin-left: -8px;
	font-size: 12px;
}

.checkLabel input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkmark {
	position: absolute;
	top: 232px;
	left: 24px;
	height: 20px;
	width: 20px;
	background-color: #fff;
	border-radius: 3px;
}

.checkLabel:hover input ~ .checkmark {
	background-color: #ccc;
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.checkLabel input:checked ~ .checkmark:after {
	display: block;
}

.checkLabel .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid rgb(244,89,4);
	border-width: 0 3px 3px 0;
	transform: rotate(45deg);
}
/*--categories--*/
#allCats {
	display: flex;
	flex-direction: column;
	height: 115px;
	border-bottom: 1px solid rgba(31,31,31,0.3)
}

#categoryList ul {
	display: flex;
	flex-direction: column;
}

.category a {
	font-weight: normal;
	text-decoration: none;
	color: rgb(49,49,49);
}

.category a:hover {
	text-decoration: underline;
}

.showmore a {
	color: rgb(49,49,49);
	font-size: 11px;
}

.showmore a:visited {
	color: rgb(49,49,49);
}
/*--shipping-options--*/
.shipping {
	height: 150px;
	border-bottom: 1px solid rgba(31,31,31,0.3)
}
.shipping ul {
	display: flex;
	flex-direction: column;
}

.shipLabel {
	margin-bottom: 3px;
}
/*--material-options--*/
.materials {
	border-bottom: 1px solid rgba(31,31,31,0.3);
}
/*--color----options--*/
.color {
	border-bottom: 1px solid rgba(31,31,31,0.3);
}
/*can-be-personalized-*/
.personalized {
	border-bottom: 1px solid rgba(31,31,31,0.3);
}
/*-----occasion-----*/
.occasion {
	border-bottom: 1px solid rgba(31,31,31,0.3);
}
/*-----holiday-----*/
.holidays {
	border-bottom: 1px solid rgba(31,31,31,0.3);
}
/*-----shop-location-----*/
.shopLoc {
	border-bottom: 1px solid rgba(31,31,31,0.3);
}

#locationInput {
	height: 38px;
}

#locButton {
	height: 50px;
	width: 50px;
}
/*-----item-type-----*/
.itemType {
	border-bottom: 1px solid rgba(31,31,31,0.3);
}
/*-----price-----*/
.priceSelect {
	border-bottom: 1px solid rgba(31,31,31,0.3);
}

#lowPrice, #highPrice {
	width: 50px;
	height: 38px;
}
/*-----order-options-----*/
.orderOptions {
	border-bottom: 1px solid rgba(31,31,31,0.3);
}
/*-----------------*/
/*-content-(items)-*/
/*-----------------*/
.each {
	display: flex;
	flex-direction: column;
}

.item {
	width:800px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.item img {
	height: 135px;
	width: 170px;
}

.item #itemTitle {
	font-size: 12px;
	text-decoration: none;
	color: rgb(49,49,49);
}

#itemTitle:visited {
	color: rgb(49,49,49);
}

.item #shopName {
	font-size: 10px;
	color: rgb(103,103,103);
	text-decoration: none;
}